.card{
    border-radius: 10px;
    height: 50%;
    width: 80%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.mb-4{
    display: block;
    margin: auto;
}
#myAuth{
    text-align: center;
    margin-bottom: 2em;
}
.Status{
    display:inline-flex; 
}
#myMaritalStatus{
    display: block;
}
